
.App {
  background-image: url('../../assets/background.jpg');
  height: 100%;

  padding-top: 50px;
  justify-content: center;
  display: flex;
}

.Container {
  background: white;
  text-align: center;

  width: 750px;
}
